/venv/
/data/Data_order_book_premiere_analyse/Data_csv
/data/smash/Status_unzip
/data/smash/TBBO_unzip
/data/smash/Trades/TBBO_unzip
data/smash/Status.csv
data/smash/TBBO.csv
data/smash/Trade.csv
models/QR/modified/Data/Intens_val_qr.csv
former/qr/Data/Intens_val_qr.csv
models/QR/modified/Data/Intens_val_qr.csv
models/QR/modified/Data/Intens_val_qr.csv


data/Data_order_book_premiere_analyse/Visualisation_data.ipynb

data/smash2/data/csv/
data/smash2/data/dbn/

data/MBO-10 analyse/CSV_dezippés_
data/MBO-10 analyse/DBEQ-20241008-TX6EVQRQXS
data/MBO-10 analyse/Données_dezippées
data/MBO-10 analyse/Données_zippées
data/MBO-10 analyse/Notebooks/Analyse_MBO_10.ipynb
data/MBO-10 analyse/Notebooks/CSV_dezippés.csv
data/MBO-10 analyse/Notebooks/MBO_10_RIOT
data/MBO-10 analyse/Notebooks/MBO_10
data/MBO-10 analyse/Notebooks/MBO_10_CGAU
data/MBO-10 analyse/Notebooks/MBO_10_HL
data/MBO-10 analyse/Notebooks/MBO_10_ASAI
data/MBO-10 analyse/Notebooks/Tes_atre_OB.ipynb
data/MBO-10 analyse/Notebooks/tes.ipynb
data/MBO-10 analyse/Notebooks/un_jour.ipynb
data/MBO-10 analyse/Notebooks/dezip.ipynb

hft_qr_rl.egg-info/
**/__pycache__/

data/smash3/data/download/
data/smash3/data/csv/
data/smash3/data/dbn/


frontend/node_modules/